@import "colors";
.collections {
  display: flex;
  min-height: 100vh;
  .infoMSG {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 50px 20px;
    border-radius: 10px;
    margin: 50px 0;
    background-color: #eeeeee;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: content-box;
    padding: 50px 0;
    margin: 50px 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 35%), 0 3px 5px 0 rgb(0 0 0 / 35%);
    h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 500;
      margin: 0;
    }
    .hiddenInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      margin-top: 5px;
      .imageCount {
        font-size: 20px;
        font-weight: 500;
      }
      .info {
        display: flex;
        gap: 20px 100px;
        margin: 30px 30px 0;
        flex-wrap: wrap;
        justify-content: center;
        p {
          font-size: 18px;
          width: 100%;
          max-width: 398px;
          text-align: center;
        }
        button {
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          width: 160px;
          height: 60px;
          cursor: pointer;
          border: none;
          border-radius: 10px;
          background-color: $main;
          box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}
