@import "colors";

.editCollection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  .container {
    display: flex;
    max-width: 1050px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    .edit {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 50px 0;
      margin-bottom: 50px;
      border-radius: 10px;
      align-items: center;
      background-color: #ffffff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
      .success, .error {
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
      }
      .success {
        background-color: $main;
      }
      .error {
        background-color: $error;
      }
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 770px;
        width: 100%;
        gap: 30px;
        padding: 0 30px;
        margin: 0 30px;
        .left {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
          h2 {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
          }
        }
        .right {
          .deleteBTN {
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 10px;
            background-color: $error;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
          }
        }
      }
      .row {
        display: flex;
        max-width: 770px;
        width: 100%;
        gap: 30px 50px;
        justify-content: space-between;
        margin: 50px 0;
        padding: 0 30px;
        .info {
          max-width: 300px;
        }
        .col {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 30px 0;
          .item {
            display: flex;
            gap: 5px;
            flex-direction: column;
            label {
              font-size: 20px;
              font-weight: 500;
            }
            input[type=text], input[type=url], textarea {
              font-size: 18px;
              max-width: 300px;
              width: 100%;
              height: 50px;
              padding: 12px 20px;
              border: none;
              resize: none;
              outline: none;
              border-radius: 10px;
              background-color: #eeeeee;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
            }
            input[type=text]:focus, input[type=url]:focus, textarea:focus {
              border: 2px solid $main;
            }
            textarea {
              height: 150px;
            }
          }
          h3 {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            text-decoration: $main 4px underline;
          }
          .images {
            display: flex;
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;
            .img {
              display: flex;
              width: 100px;
              height: 100px;
              position: relative;
              .deleteImg {
                position: absolute;
                cursor: pointer;
                top: -15px;
                right: -15px;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
              }
            }
          }
          .addImage {
            display: flex;
            width: 180px;
            height: 60px;
            gap: 20px;
            align-items: center;
            justify-content: center;
            align-self: center;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            background-color: #eeeeee;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
            span {
              color: $main;
              font-size: 18px;
              font-weight: 500;
            }
            input[type=file] {
              display: none;
            }
          }
        }
      }
      .saveBTN {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        width: 180px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: $main;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
      }
    }
  }
}

@media only screen and (max-width: 675px) {
  .editCollection {
    .container {
      .edit {
        .row {
          flex-wrap: wrap;
          .info {
            max-width: none;
          }
          .col {
            .item {
              align-items: center;
            }
            .images {
              justify-content: center;
              margin: 30px 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .editCollection {
    .container {
      .edit {
        .head {
          justify-content: center;
        }
      }
    }
  }
}

