* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: #111111;
  max-width: 100vw;
}

footer {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #140330;
  p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
  }
}